@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #333333;
    color: white;
}

input {
    color: black;
}

a {
    color: inherit;
}

.marker-clustering-tree {
    font-size: 2rem;
}

.marker-clustering-control-panel .attribution {
    font-size: 0.75em;
}